---
import type { GetStaticPaths } from "astro";
import Main from "../../layouts/Main.astro";

export const getStaticPaths = (() => {
  return [
    {
      params: { name: "bulbasaur" },
    },
    {
      params: { name: "raticate" },
    },
  ];
}) satisfies GetStaticPaths;

// con Astro.params puedes conseguir el nombre que has sacado en los getStaticPaths
const { name } = Astro.params;
---

<Main title="Pokemons Pages">
  <h1>{name}</h1>
</Main>
